body{
    background-color: azure;
}
#names {color: black;font-family: 'Courier New', Courier, monospace;font-size: larger;}
#speeches{color: black;font-family: serif;font-size: large;}
#SD:hover {background-color: chartreuse; color: black;font-family: 'Times New Roman', Times, serif;font-size: medium;}

.GWENDOLEN {
    color: blue;
}
.CECILY{
    color: chocolate;
}
